<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%message</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="GRAPHITE" class="com.jasonnerothin.logging.PlainTextGraphiteAppender"/>

    <root level="info">
        <appender-ref ref="GRAPHITE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>