<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GRAPHITE" class="com.jasonnerothin.logging.PlainTextGraphiteAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="GRAPHITE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>